@model JobApplicationSpam.Models.InputField

<div class="form-group">
    <label for="@Model.Id"><b>@Model.LabelText</b></label>
    <div class="float-right d-inline">@(string.IsNullOrEmpty(Model.VariableName) ? "" : Model.VariableName)</div>
    <input id="@Model.Id" name="@Model.Id" maxlength="@Model.MaxLength" class="form-control inputField" type="text" value="@Model.Value" />
</div>