@model JobApplicationSpam.Models.InputField

<div class="form-group">
    <label class="" for="@Model.Id"><b>@Model.LabelText</b></label>
    <input id="@Model.Id" name="@Model.Id" class="form-control field" type="text" value="@Model.Value" />
</div>