@model JobApplicationSpam.Models.RadioField

<div>
    <label><b>@Model.LabelText</b></label>
    <div class="float-right d-inline">@(string.IsNullOrEmpty(Model.VariableName) ? "" : Model.VariableName)</div>
    @foreach (var radioItem in Model.Items)
    {
        <div class="form-group p-0 m-0">
            <input id="@radioItem.Id" class="field" name="@Model.GroupName" type="radio" value="@radioItem.Value" @(Model.Value == radioItem.Value ? "checked=checked" : "") />
            <label for="@radioItem.Id">@radioItem.LabelText</label>
        </div>
    }
</div>