@model JobApplicationSpam.Models.TextareaField

<div class="form-group">
    <label for="@Model.Id"><b>@Model.LabelText</b></label>
    <textarea id="@Model.Id" name="@Model.Id" class="form-control field" style="min-height: @Model.Height; overflow: auto">@Model.Value</textarea>
</div>